<html lang="en">

   <%- include('./partials/head.ejs') %>

<body class="aboutbody">

   <div class="about-header">
      <a class="about-back" href="/">Back to Home</a>
      <a class="about-back" href="/contact">Contact Us</a>

   </div>

   <p class="about-title">Learn about us from our cherished customers</p>

   <div class="grid-holder">
      <div class="comments">
         <% if(info.length > 0){ %>

         <% info.slice(info.length-12, info.length).reverse().forEach(review => { %>
         <div class="comment">
            <p class="comment-labels"><%= review.comment %> </p>

            <div class="starz">
               <% let stars = review.rating; %>
               <%  for(let i=0; i< stars; i++){ %>
               <span id="staricon" class="fa fa-star<%= (i < stars - 0.5)? '' : ' checked'%>"> </span>
               <%  } %>
            </div>


            <p class="user-labels"><%= review.fullName %></p>
            <p class="user-labels"><%= review.city %></p>
         </div>
         <% }) %>
         <% } %>

      </div>
   </div>



   <script src="../server.js"></script>

</body>

</html>